<% error = @assignment.errors.key?(:name) && @assignment.errors[:name].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= f.error_message_on(:name) if error %></span>
  </div>
</fieldset>
<% error = @assignment.errors.key?(:test_script) && @assignment.errors[:test_script].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :test_script, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :test_script, :class => 'input-xxlarge input-with-feedback', :rows => 10 %>
    <span class='help-inline'><%= f.error_message_on(:test_script)  if error %></span>
  </div>
</fieldset>
<% error = @assignment.errors.key?(:deadline) && @assignment.errors[:deadline].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :deadline, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :deadline, :value => f.object.deadline.try(:strftime, '%d/%m/%Y'), :class => 'input-xlarge input-with-feedback', :placeholder => 'dd/mm/aaaa' %>
    <span class='help-inline'><%= f.error_message_on(:deadline) if error %></span>
  </div>
</fieldset>
<% error = @assignment.errors.key?(:course_id) && @assignment.errors[:course_id].count > 0 %>

<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:assignments, :index, :course_id => current_course.id), :class => 'btn' %>
</div>
