<% error = @assignment.errors.key?(:name) && @assignment.errors[:name].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @assignment.errors.key?(:files) && @assignment.errors[:files].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :files, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :files, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:files) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @assignment.errors.key?(:test_script) && @assignment.errors[:test_script].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :test_script, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :test_script, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:test_script) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @assignment.errors.key?(:deadline) && @assignment.errors[:deadline].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :deadline, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :deadline, { :class => 'input-xlarge input-with-feedback', :type => 'datetime-local' } %>
    <span class='help-inline'><%= error ? f.error_message_on(:deadline) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @assignment.errors.key?(:course_id) && @assignment.errors[:course_id].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :course_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select :course_id, :collection => courses, :fields => [:name, :id] %>
    <span class='help-inline'><%= error ? f.error_message_on(:course_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:assignments, :index), :class => 'btn' %>
</div>
