<% content_for :additional_css do %>
  <%= stylesheet_link_tag 'editablegrid-2.0.1' %>
<% end %>

<ul class="nav nav-tabs">
  <li class=active> <%= link_to tag_icon(:list, pat(:list)), url(:assignments, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:assignments, :new) %></li>
</ul>
<div class=tabs-content>
  <table id="assigmentsGrid" class="table table-bordered table-striped table-hover"">
    <thead>
      <tr>
        <th class=header> <%= t('assignments.name').capitalize %></th>
        <th class=header> <%= t('assignments.deadline').capitalize %></th>
        <th class="header list-row-action-header"></th>
      </tr>
    </thead>

    <tbody>
      <% @assignments.each do |assignment| %>
        <tr class=list-row>
          <td> <%= assignment.name %> </td>
          <td> <%= l assignment.deadline.to_date %> </td>
          <td class="list-column list-row-action">
            <div class='list-row-action-wrapper'>
               <%= link_to tag_icon(:edit), :href => url(:assignments, :edit, :id => assignment.id), :rel => :tooltip, :title => "#{pat(:edit)} assignment", :class => 'list-row-action-wrapper-link' %>
               <%- link_to :href => url(:assignment, :generic, :file, :index, :assignment_id => assignment.id), :rel => :tooltip, :title => t('assignments.edit_files'), :class => 'list-row-action-wrapper-link' do %>
                <i class='icon-file'></i>
               <% end %>
               <%#= link_to tag_icon(:trash), :href => url(:assignments, :destroy, :id => assignment.id), :rel => :tooltip, :title => "#{pat(:delete)} assignment", :class => 'list-row-action-delete-one list-row-action-wrapper-link', :method => :delete %>
             </div>
          </td>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :additional_js do %>
  <%= javascript_include_tag 'editablegrid-2.0.1.min.js' %>
  <script type='text/javascript'>
    $(document).ready(function() {
        editableGrid = new EditableGrid('assignmentsGrid', {
          shortMonthNames: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
        }); 

        // we build and load the metadata in Javascript
        editableGrid.load({ metadata: [
          { name: "Nombre", datatype: "string" },
          { name: "Fecha Límite", datatype: "date", formattedDate: 'dd/mm/YYYY' }]});

        // then we attach to the HTML table and render it
        editableGrid.attachToHTMLTable('assigmentsGrid');

        editableGrid.renderGrid();        
      });
  </script>
<% end %>