<h2><%= t('corrections.title_all') + " #{@assignment.name}" %></h2>

<div class="well form-search">
  <input type="text" class="input-medium search-query" id="filter" placeholder="tipea para filtrar">
</div>

<div>Mostrando: <span id="rowCount"></span> registros</div>
<table id="correctionsGrid" class="table table-bordered table-striped table-hover">
	<tr>
		<th><%= I18n.translate('corrections.grid_all.class') %></th>
		<th><%= I18n.translate('corrections.grid_all.student_name') %></th>
		<th><%= I18n.translate('corrections.grid_all.upload_date') %></th>
		<th><%= I18n.translate('corrections.grid_all.status') %></th>
		<th><%= I18n.translate('corrections.grid_all.teacher_assigned') %></th>
		<th class="header list-row-action-header"></th>
	</tr>
	<% @students_with_assignment_status.each do |sas| %>
		<tr> 
      <td><%= sas[:student].tag %></td>
      <td><%= sas[:student].full_name %></td>
      <td><%= l sas[:assignment_status].latest_solution_date if !sas[:assignment_status].latest_solution_date.nil? %></td>
      <td class='status'><%= t sas[:assignment_status].status %></td>
      <td class='teacher_assigned'><%= sas[:assignment_status].corrector_name %></td>
      <td>
      	<% if sas[:assignment_status].can_be_assigned? %>
      		<%- form_tag url(:corrections, :assign, :to, :me, :assignment_id => sas[:assignment_status].assignment_id, :student_id => sas[:student].id, :teacher_id => current_account.id), :method => :post, :style => 'display:inline' do %>
      			<button type='submit' title="<%= t('corrections.grid_all.actions.assign_to_me') %>" rel='tooltip' class="assign-to-me">
              <i class='icon-user'></i>
            </button>
          <% end %>
	    	<% else %>
	    		<span class="list-row-action-wrapper-link" data-original-title="<%= t('corrections.grid_all.actions.assign_to_me') %>" title="" rel="tooltip">
	    			<i class='icon-user'></i>
	    		</span>
	    	<% end %>
		<a href="#" id="solution_teacher_assign_button" class="btn-mini" title="<%= t('corrections.grid_all.actions.assign_to_other') %>" rel='tooltip' data-toggle="modal" data-target="<%="#teacher_selection_modal"+(sas[:student].id.to_s) %>"><i class="icon-share"></i></a>
	      <%- link_to :href => url(:solutions, :index, :assignment_id => sas[:assignment_status].assignment_id, :student_id =>sas[:student].id ), :rel => :tooltip, :title => t('corrections.grid_all.actions.view_solutions'), :class => 'list-row-action-wrapper-link' do %>
            <i class='icon-list'></i>
         <% end %>
	    	</a>
	    </td>
		</tr>
<!-- Modal -->
<div class="modal fade" id="<%="teacher_selection_modal"+(sas[:student].id.to_s) %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('corrections.teacher_selection_modal.title')%></h4>
      </div>
        <% form_tag url('corrections/assign_to_teacher'), :method => :post, :class => 'form-horizontal' do %>
	  <div class="modal-body">
	    <%= hidden_field_tag :assignment_id, :value => sas[:assignment_status].assignment_id %>
	    <%= hidden_field_tag :student_id, :value => sas[:student].id %>
	    <fieldset class="control-group">
	      <div class="controls">
		<select id="teacher_id" name="teacher_id">
		<% Account.find_by_roles('teacher').each do |teacher| %>
		  <option value="<%= teacher.id %>"><%= teacher.name %></option>
		<% end %>
		</select>
              </div>
	    </fieldset>
	  </div>
	  <div class="modal-footer form-actions">
	    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('cancel')%></button>
	    <button type="submit" class="btn btn-primary"><%= t('save')%></button>
	  </div>
        <% end %>
    </div>
  </div>
</div>
	<% end %>
</table>

<% content_for :additional_js do %>
	<%= javascript_include_tag 'editablegrid-2.0.1.min.js' %>
	<%= javascript_include_tag 'grid_extensions.js' %>
  <%= javascript_include_tag 'assignments_students.js' %>
<% end %>
