<h2>Trabajo práctico N2, Juan Perez (84998)</h2>
<p> jperez@fi.uba.ar | Turno Jueves Tarde </p>

<% form_for :account, url(:register), :class => 'form-horizontal' do |f| %>

<fieldset class='control-group'>
  <%= f.label 'Comentario público', :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :name, :class => 'input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'></span>
  </div>
</fieldset>



<fieldset class='control-group'>
  <%= f.label 'Comentario Privado', :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :name, :class => 'input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'></span>
  </div>
</fieldset>


<fieldset class='control-group'>
  <%= f.label 'Calificación', :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'input-xxsmall input-with-feedback', :autofocus => true %>
    <span class='help-inline'></span>
  </div>
</fieldset>

<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit 'Guardar y notificar', :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), '/cancel', :class => 'btn' %>
</div>
<% end %>