<h2>
	<%= @student.full_name %> (<%= @student.buid %>)
</h2>
<p> <%= @student.email %> | <%= t('tag') %> <%= @student.tag %> </p>


	<%- form_tag url(:karmas, :register, :student_id => @student.id), :method => :post, :style => 'display:inline' do %>
		<div>
		Karma: <div id="karma-counter" class="inline-text"><%= @karma_count %></div>
		
			<button title="asignar karma" rel='tooltip' class="assign-to-me" id="karma-button">
      	<i class='icon-plus-sign'></i>
			</button>

		</div>
  <% end %>
	
<table id="studentsGrid" class="table table-bordered table-striped table-hover"">
	<tr>
		<th><%= t('assignment').capitalize %></th>
		<th><%= t('status').capitalize %></th>
		<th><%= t('students.solutions').capitalize %></th>
		<th><%= t('lastest_solution_date').capitalize %></th>
		<th><%= t('corrector').capitalize %></th>
		<th><%= t('actions').capitalize %></th>
	</tr>
	<% @assignment_status.each do | as|%>
	<tr>
		<td><%= as.name %></td>
		<td><%= t(as.status) %></td>
		<td><%= as.solution_count %></td>
		<td><%= as.latest_solution_date %></td>
		<td><%= as.corrector_name %></td>
		<td>
      <%- link_to :href => url(:solutions, :index, :assignment_id => as.assignment_id, :student_id => @student.id ), :rel => :tooltip, :title => t('corrections.grid_all.actions.view_solutions'), :class => 'list-row-action-wrapper-link' do %>
        <i class='icon-list'></i>
     <% end %>
    </td>
	</tr>
	<% end %>
</table>

<% content_for :additional_js do %>
	<%= javascript_include_tag 'karma.js' %>
<% end %>