    <% form_tag url(:login), :class=>"login form-horizontal" do %>
      <div class="login-body modal-body">

        <%= [:error, :warning, :success, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => true) }.join.html_safe %>

        <fieldset class="control-group">
          <label for="email" class="login-input-label control-label"><%= pat('login.email') %></label>
          <div class="login-controls controls"><%= email_field_tag :email, :value => params[:email], :autofocus => true %></div>
        </fieldset>

        <fieldset class="control-group">
          <label for="password" class="login-input-label control-label"><%= pat('login.password') %></label>
          <div class="login-controls controls"><%= password_field_tag :password, :value => params[:password] %></div>        
        </fieldset>

        <fieldset class="control-group">
          <div class="login-controls controls"><%= submit_tag(pat('login.sign_in'), :class => "btn btn-primary") %></div>
        </fieldset>
        <fieldset class="control-group">
          <div class="login-controls controls">
            <a href="/register">Crear cuenta</a>
          </div>
        </fieldset>
      </div>
    <% end %>