<ul class="nav nav-tabs">
  <li class=active> <%= link_to tag_icon(:list, pat(:list)), url(:solutions, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:solutions, :new) %></li>
</ul>
<table id="solutionsGrid" class="table table-bordered table-striped table-hover">
	<tr>
		<th><%= I18n.translate('solutions.grid.submission_date') %></th>
		<th><%= I18n.translate('solutions.grid.file') %></th>
		<th><%= I18n.translate('solutions.grid.assignment') %></th>
	</tr>
	<% @solutions.each do |s| %>
		<tr> 
      <td><%= formats_date( s.created_at ) %></td>
			<td><a href="<%= url_for(:solutions, :file, :solution_id => s.id ) %>"><%= s.file %></a></td>
			<td><a href="<%= url_for(:assignments, :index) %>"><%= s.assignment.name %></a></td>
		</tr>
	<% end %>
</table>
<% content_for :additional_js do %>
	<%= javascript_include_tag 'editablegrid-2.0.1.js' %>
  <%= javascript_include_tag 'solutions_index.js' %>
<% end %>
