<h2><%= t('solutions.delivered_for').capitalize %> <%= @assignment.name %></h2>

<table id="solutionsGrid" class="table table-bordered table-striped table-hover">
	<tr>
		<th><%= t('solutions.grid.submission_date') %></th>
		<th><%= t('solutions.grid.file') %></th>
		<th><%= t('solutions.test_result') %></th>
	</tr>
	<% @solutions.each do |s| %>
		<tr> 
      <td><%= l s.created_at %></td>
      <td><a href="<%= url_for(:solutions, :download, :assignment_id => @assignment.id, :solution_id => s.id ) %>"><%= s.file %></a></td>
      <td><%= s.test_result %></a></td>
		</tr>
	<% end %>
</table>
<% content_for :additional_js do %>
	<%= javascript_include_tag 'editablegrid-2.0.1.js' %>
  <%= javascript_include_tag 'solutions_index.js' %>
<% end %>
