<h2><%= t('solutions.delivered_for').capitalize %> <%= @assignment.name %></h2>
<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:my, :solutions, :assignment_id => @assignment.id) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:solutions, :new, @assignment.id) %></li>
</ul>
<div class="tabs-content">
	<% form_for :solution, url(:my, :create_solution, :assignment_id => @assignment.id), :multipart => true, :class => 'form-horizontal' do |f| %>

<% error = @solution.errors.key?(:file) && @solution.errors[:file].count > 0 %>

<% if @assignment.solution_type == 'file' %>
  <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
    <%= f.label I18n.translate('solutions.form.file'), :class => 'control-label' %>
    <div class='controls'>
      <%= f.file_field :file, :class => 'input-large input-with-feedback', :autofocus => true %>
      <span class='help-inline'><%= error ? f.error_message_on(:file) : t('solution.upload_help') %></span>
    </div>
  </fieldset>
<% else %>
  <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
    <%= f.label I18n.translate('solutions.link'), :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :link, :class => 'span8' %>
    </div>
  </fieldset>
<% end %>

<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label I18n.translate('solutions.form.comments'), :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :comments, :rows => 4, :class => 'span8' %>
  </div>
</fieldset>
<%= f.hidden_field :account_id, :value => current_account.id %>
<%= f.hidden_field :assignment_id, :value => @assignment.id %>

<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:my, :solutions, :assignment_id => @assignment.id), :class => 'btn' %>
</div>



 <% end %>
</div>
