<h2><%= t('solutions.delivered_for').capitalize %> <%= @assignment.name %></h2>

<ul class="nav nav-tabs">
  <li class=active> <%= link_to tag_icon(:list, pat(:list)), url(:my, :solutions, :assignment_id => @assignment.id) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:my, :new, :solution, :assignment_id => @assignment.id) %></li>
</ul>

<table id="solutionsGrid" class="table table-bordered table-striped table-hover">
	<tr>
		<th><%= t('solutions.grid.submission_date') %></th>
		<% if @assignment.solution_type == 'file' %>
		  <th><%= t('solutions.grid.file') %></th>
		<% else %>
		  <% if @assignment.solution_type == 'link' %>
		    <th><%= t('solutions.grid.link') %></th>
		  <% end %>
		<% end %>
		<th><%= t('solutions.test_result') %></th>
		<th><%= t('actions').capitalize %></th>
	</tr>
    <% i = 0 %>
	<% @solutions.each do |s| %>
	    <% i = i + 1 %>
		<tr id=<%= i %>>
      <td><%= l s.created_at %></td>
      <% if @assignment.solution_type == 'file' %>
        <td><a href="<%= url_for(:solutions, :download, :assignment_id => @assignment.id, :solution_id => s.id ) %>"><%= s.file %></a></td>
      <% else %>
        <% if @assignment.solution_type == 'link' %>
          <td><a href="<%= s.link %>" target="_blank"><%= s.link %></a></td>
        <% end %>
      <% end %>		
      <td><%= t(s.test_result) %></a></td>
      <td>
      	<% if s.test_output %>
					<i class='icon-info-sign test-output' data-content="<%=h(s.test_output) %>" data-original-title="Salida pruebas" rel="tooltip" data></i>
      	<% end %>      	
      	<% if s.correction %>
					<%- link_to :href => url(:my, :show_correction, :assignment_id => @assignment.id, :correction_id => s.correction.id), :rel => :tooltip, :title => t('solutions.grid.view_correction'), :class => 'list-row-action-wrapper-link' do %>
	          <i class='icon-ok-sign'></i>
	        <% end %>
	      <% else %>
					<span class="list-row-action-wrapper-link" data-original-title="<%= t('solutions.grid.correction_unavailable') %>" title="" rel="tooltip">
	    			<i class='icon-ok-sign'></i>
	    		</span>
	      <% end %>
      </td>
		</tr>
	<% end %>
</table>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Salida de la ejecución de las pruebas</h4>
      </div>
			<div id="testOutput" class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% content_for :additional_js do %>
	<%= javascript_include_tag 'editablegrid-2.0.1.js' %>
  <%= javascript_include_tag 'solutions_index.js' %>
<% end %>
