<li><a href="/courses/<%= current_course.name%>/students"><%= t('menu.students')%></a></li>
<li><a href="/assignments"><%= t('menu.assigments')%></a></li>
<li><a href="<%= url( :corrections, :index, current_account.id) %>"><%= t('menu.corrections')%></a></li>
